{% extends 'weather/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container w-50 my-5">
    <div class="">
        <form method="POST">
            <div class="form-group">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{form|crispy}}
                </fieldset>
                <div class="form-group d-flex m-2">
                    <button class="btn btn-outline-info" type="submit">Reset password</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock%}